body {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.submit {
  justify-content: end;
}

.modal-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.modal-add-entry {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 800px;
  padding-left: 10%;
  padding-right: 10%;
}

.modal-add-entry .row {
  margin-bottom: 20px;
}

.checklist {
  display: flex;
  justify-content: flex-start;
}

.notes textarea {
  width: 600px;
  border: 3px solid black;
}

.header {
  font-size: 28px;
  font-weight: 500;
}

button {
  border: 3px solid black;
  box-shadow: 3px 5px 0 black;
}

select {
  border: 3px solid black;
  margin-right: 2%;
}

.views {
  justify-content: space-evenly;
}

.views a {
  text-align: center;
  padding: 2rem 1rem;
  border: 3px solid black;
  font-size: 2rem;
  transition: background-color 500ms;
}

.views a:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.add-entry-button {
  padding: 1rem 5rem;
  background-color: white;
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

tr > *:nth-child(1) {
  border-right: 2px solid black;
  width: 30%;
}

th {
  background-color: rgba(128, 128, 128, 0.664);
}

tbody tr:nth-child(odd) {
  background-color: rgba(211, 211, 211, 0.452);
}

.table-div {
  padding: 0 5rem;
}

td {
  position: relative;
  padding: 0.5rem 0;
}

.update {
  right: 20rem;
  background-color: cornflowerblue;
}

.update,
.delete {
  position: absolute;
  top: 0.1rem;
  padding: 0.2rem 2rem;
  color: white;
}

.delete {
  right: 10rem;
  background-color: red;
}
